.app {
  position: relative;
  min-height: 100vh;
  background-color: black;
}

.dashboard {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr;
  text-align: left;
}

.folder-content {
  padding: 20px;
}

.folder-content ul {
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.folder-content li a,
.folder-content li.header {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.folder-content li.header {
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  border: none;
}

.folder-content li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.folder-content .no-items {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-content .path-bar,
.folder-content .path-bar div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.folder-content .path-bar a {
  color: var(--lightblue);
  font-size: var(--fs);
}

.folder-content .path-bar .icon {
  transform: translateY(3px);
}

dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 40vw;
  padding: 20px;
  background-color: var(--darkgray);
  display: flex;
  flex-direction: column;
  gap: 15px;
  scale: 0.5;
  opacity: 0.5;
  z-index: -100;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  transition: all 0.3s;
}

dialog form {
  width: 100%;
  /* border: 2px solid red; */
}

dialog .first {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

dialog .first .icon {
  font-weight: 700;
  font-size: 1.2rem;
}

dialog button {
  align-self: flex-end;
}

dialog.reveal {
  scale: 1;
  opacity: 1;
  z-index: 100;
}
