.app {
  min-height: 100vh;
  background-color: var(--dark);
}

.dashboard {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  text-align: left;
}

.folder-content {
  padding: 17px;
}

.folder-content ul {
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.folder-content li .item,
.folder-content li.header {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding:  10px;
}

.folder-content li .item {
  color: var(--lightwhite);
  background-color: var(--lightdark);
  border: 1px solid gray;
  border-radius: 5px;
}

.folder-content li.header {
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  padding: 7px 5px;

}

.folder-content li .label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.folder-content .no-items {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-content .path-bar,
.folder-content .path-bar div {
  display: flex;
  align-items: center;
  gap: 12px;

}

.folder-content .path-bar a {
  color: var(--lightblue);
  font-size: var(--fs);
}

.folder-content .path-bar .icon {
  transform: translateY(3px);
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
}

.modal .first {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.modal .first .icon {
  font-weight: 700;
  font-size: 1.2rem;
}

.modal input {
  border: 2px solid var(--lightblue);
}

.modal button {
  color: var(--darkgray);
  font-weight: 600;
  padding: 0;
  align-self: flex-end;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
  border: none;
}

.modal .buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* CSS Loaders */
.pending {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--darkgray) 94%, #0000) top/3px
      3px no-repeat,
    conic-gradient(#0000 30%, var(--darkgray));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
