nav div:nth-child(2) {
  display: flex;
  gap: 15px;
}

nav div:nth-child(2) a {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid white;
}

nav div:nth-child(2) a:hover {
  color: var(--lightblue);
  background-color: var(--hover-bg);
  border: 1px solid var(--lightblue);
}

.form-container {
  position: fixed;
  inset: var(--nav-height) 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 1rem;
}

.form-container a {
  text-decoration: underline;
  color: var(--lightblue);
}

.form-container h1 {
  font-size: 1.7rem;
}

.form-container input,
.form-container input:autofill {
  color: var(--lightblue) !important;
  background-color: var(--lightdark) !important;
  border: 1px solid gray;
}

.form-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--lightdark) inset !important;
  -webkit-text-fill-color: var(--lightblue) !important;
}

.form-container input:focus {
  border: 2px solid var(--lightblue);
}

.form-container button {
  border: 1px solid gray;
}

.form-container button:hover,
.form-container button.loading {
  color: var(--lightblue);
  background-color: var(--hover-bg);
  border: 1px solid var(--lightblue);
}

.form-container button .pending {
  background: radial-gradient(farthest-side, var(--lightblue) 94%, #0000)
      top/3px 3px no-repeat,
    conic-gradient(#0000 30%, var(--lightblue));
}

form .error-message {
  color: rgb(255, 70, 70);
  font-size: var(--sfs);
  text-transform: capitalize;
}
