main {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--nav-height) - 10px);
}

form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 1rem;
}

form a {
  text-decoration: underline;
  color: var(--lightblue);
}

h1 {
  font-size: 1.7rem;
}

input,
input:autofill {
  color: var(--lightblue) !important;
  background-color: var(--lightdark) !important;
  border: 1px solid gray;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--lightdark) inset !important;
  -webkit-text-fill-color: var(--lightblue) !important;
}

input:focus {
  border: 2px solid var(--lightblue);
}

button {
  border: 1px solid gray;
}

button:hover,
button.loading {
  color: var(--lightblue);
  background-color: var(--hover-bg);
  border: 1px solid var(--lightblue);
}

button .pending {
  background: radial-gradient(farthest-side, var(--lightblue) 94%, #0000)
      top/3px 3px no-repeat,
    conic-gradient(#0000 30%, var(--lightblue));
}

form .error-message {
  font-size: var(--sfs);
  text-transform: capitalize;
}

/* CSS Media queries for mobile devices */

@media (max-width: 500px) {
  main {
    display: block;
    padding: 50px 20px;
  }

  h1 {
    font-size: var(--lfs);
  }

  form {
    width: 100%;
    gap: 20px;
  }

  form input {
    margin-top: 15px;
  }
}
