.sidebar {
  padding: 15px;
  border-right: 1px solid var(--darkgray);
  height: 100%;
}

.links {
  margin-bottom: 10px;
}

.links div {
  padding: 7px 15px;
  color: var(--lightwhite);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
}

.links div:hover {
  color: var(--lightblue);
  background-color: #3d98ff44;
  border: 1px solid var(--lightblue);
}

.tree-view svg {
  font-size: 1.4rem !important;
}

.tree-view .Mui-selected {
  border-left: 3px solid var(--lightblue);
  border-radius: 0;
}

.sidebar .cancel {
  background-color: var(--darkgray);
  color: white;
  border: 1px solid gray;
}

.sidebar .cancel:hover {
  color: var(--lightblue);
  background-color: #3d98ff44;
  border: 1px solid var(--lightblue);
}

.sidebar .delete:hover {
  background-color: var(--lightgreen);
}
