.sidebar {
  padding: 15px;
  border-right: 1px solid var(--darkgray);
  height: 100%;
}

.links {
  margin-bottom: 10px;
}

.links div {
  padding: 7px 12px;
  color: var(--lightwhite);
  background-color: var(--lightdark);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
}

.links div:hover {
  color: var(--lightblue);
  background-color: var(--hover-bg);
  border: 1px solid var(--lightblue);
}

.tree-view svg {
  font-size: 1.4rem !important;
}

.tree-view .MuiTreeItem-content:hover {
  color: var(--lightblue);
}

.tree-view .Mui-selected {
  border-left: 3px solid var(--lightblue);
  border-radius: 0;
}

.sidebar .cancel {
  background-color: var(--darkgray);
  color: white;
  border: 1px solid gray;
}

.sidebar .cancel:hover {
  color: var(--lightblue);
  background-color: #3d98ff44;
  border: 1px solid var(--lightblue);
}

.sidebar .delete:hover {
  background-color: var(--lightgreen);
}

@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    inset: auto 0 0 0;
    height: fit-content;
    padding: 15px 0;
    border-top: 1px solid var(--darkgray);
  }

  .sidebar .links,
  .sidebar .links div {
    all: revert;
    color: gray;
  }

  .sidebar .links {
    display: flex;
    justify-content: space-around;
  }

  .sidebar svg:hover {
    color: var(--lightblue);
  }

  .tree-view,
  .sidebar .links p {
    display: none;
  }
}
