<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up - File Uploader</title>
    <link rel="stylesheet" href="../public/styles/general.css" />
    <link rel="stylesheet" href="../public/styles/register.css" />
  </head>
  <body>
    <nav>
      <div>
        <a href="#">File Uploader</a>
      </div>

      <div>
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
      </div>
    </nav>

    <main>
      <h1>Sign Up</h1>
      <p>Already have an account ? <a href="#">Log in</a></p>
      <form action="/register" method="post">
        <div>
          <label for="username"> Full Name* </label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="jackToph456"
            required
          />
        </div>

        <div>
          <label for="email"> Email* </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="jackToph456"
            required
          />
        </div>
        <div>
          <label for="password1"> Password* </label>
          <input
            type="password"
            name="password1"
            id="password1"
            placeholder="12345678"
            minlength="8"
            required
          />
        </div>
        <div>
          <label for="password2"> Password* </label>
          <input
            type="password"
            name="password2"
            id="password2"
            placeholder="12345678"
            minlength="8"
            required
          />

          <p class="error-message"></p>
        </div>

        <div class="checkbox">
          <input type="checkbox" />
          <label> Show Password</label>
        </div>

        <div>
          <button type="submit">Create Account</button>
        </div>
      </form>
    </main>
  </body>

  <script>
    const password1 = document.querySelector("#password1");
    const password2 = document.querySelector("#password2");
    const messagePara = document.querySelector(".error-message");
    const checkbox = document.querySelector(`input[type="checkbox"]`);

    const form = document.querySelector("form");

    checkbox.addEventListener("click", () => {
      if (password1.type == "password") {
        password1.type = "text";
        password2.type = "text";
      } else {
        password1.type = "password";
        password2.type = "password";
      }
    });

    password1.addEventListener("keyup", () => {
      if (password2.value !== "") {
        if (password2.value !== password1.value) {
          messagePara.textContent = "Passwords doesn't match";
        } else {
          messagePara.textContent = "";
        }
      }
    });

    password2.addEventListener("keyup", () => {
      if (password1.value !== "") {
        if (password1.value !== password2.value) {
          messagePara.textContent = "Passwords doesn't match";
        } else {
          messagePara.textContent = "";
        }
      }
    });

    form.addEventListener("submit", (e) => {
      e.preventDefault();

      if (messagePara.textContent == "") {
        form.submit();
      }
    });
  </script>
</html>
