input {
  border: 2px solid var(--blue);
  outline: none !important;
  margin-top: 2px;
}

form {
  gap: 5px;
  margin-top: 10px;
}

button {
  padding: 10px;
  background-color: var(--blue);
  color: var(--dark);
  border: none;
}

body,
a {
  color: var(--lightgray);
}

nav div:first-child a {
  color: white;
}

nav div:nth-child(2) a {
  all: unset;
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.aside {
  padding: 10px;
  border-right: 1px solid var(--darkgray);
}

.aside .crud-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.aside .crud-buttons div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--darkgray);
  padding: 6px 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.aside .user-folders div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  padding-left: 10px;
}

.aside .user-folders .active {
  background-color: var(--lightdark);
  border-left: var(--blue) 3px solid;
}

/* overlays */
.overlays .new-folder {
  padding: 10px 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lightdark);
  color: white;
  border-radius: 5px;
  text-align: left;
}
